<%- include('../partials/header') %>
<form action="/flights" method="POST">
    <label>Seat Number
        <input name="seat" type="text">
    </label>
    <label>Price
        <input type="text" name="price">
    </label>
    <input type="submit">
</form>

<%- include('../partials/footer') %>
